body{

  margin: 0;

  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  
  font-family: 'Open Sans', sans-serif;

  min-height: 100vh;
}


.page {

  width: 1000px;
  margin: 0 auto 0;
  padding: 65px;

}

nav{

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  
  margin-bottom: 55px;
  
}

ul{
  
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  
  font-family: 'Mulish', sans-serif;
  
}

ul li a{
  opacity: 0.5;
}

ul li a{

  text-decoration: none;
  color: #1F1534;
}

ul li a:hover{

  font-weight: bold;
  opacity: 1;
}

main{

  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

span{

  color: #89C5CC;
  font-weight: bold;

}

h1{

  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  color: #1f1534;

  font-weight: normal;
}

button{
  
  font-family: 'Open Sans', sans-serif;
  
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  
  color: #F9F9F9;
  background-color: #69B99D;
  
  border: none;
  border-radius: 4px;
  padding: 14px 32px 15px;
  
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  cursor: pointer;
  
}

button:hover{

  background-color: #4dbb94;
}

footer{

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 28px;
  margin-top: 80px;
  
  text-align: center;

  color: #000000;

}

footer a{
  font-weight: bold;
}

p{

  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
 
}